html,
body {
    height: 100%;
}

.app,
.main-content,
.nav-wrapper {
    height: 100%;
}

.app {
    display: flex;
    background-color: var(--main-blue);
}

.nav-wrapper {
    /* position: fixed; */
    width: 100%;
    max-width: 300px;
    background-color: var(--main-blue2);
}

.main-content {
    /* margin-left: 300px; */
    width: 100%;
}

.title-wrapper {
    /* margin-left: 300px; */
}

.title-area {
    background-color: var(--main-blue3);
    width: 100%;
    font-size: 18px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.title-area__item {
    padding: 10px 30px;
}

.logout-btn {
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 16px;
    width: 100px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-light-blue);
}

.logout-btn:hover {
    background-color: #029be4;
}

.content-area {
    /* margin-top: 60px; */
    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow: auto;
    background-color: var(--main-blue);
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    margin-bottom: 3rem;
    padding: 5rem 3rem;
}

.cards-grid__tile {
    background-color: var(--main-blue2);
    max-width: 200px;
    padding: 30px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-tile-btn {
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 48px;
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-light-blue);
}

.modal {
    display: none;
    width: 350px;
    font-size: 1.2rem;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
}

.box {
    background-color: var(--main-blue1);
    opacity: 0.95;
}

.box-field {
    flex-direction: column;
}

input,
textarea {
    padding: 5px 10px;
    resize: none;
}

.wrapper {
    text-align: center;
}

.create-btn {
    width: 100px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-light-blue);
}

.close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 290px;
}

#modal-form {
    position: absolute;
}

.icon {
    color: var(--main-blue3);
}

.tile-links {
    display: flex;
    justify-content: space-between;
}

.tile-links__action {
    color: var(--main-light-blue);
    cursor: pointer;
}
