.title-area {
    background-color: var(--main-blue3);
    width: 100%;
    font-size: 18px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.title-area__item {
    padding: 10px 30px;
}

.logout-btn {
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 16px;
    width: 100px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-light-blue);
}

.logout-btn:hover {
    background-color: #029be4;
}

.content-area {
    margin-top: 60px;
    width: 100%;
    background-color: var(--main-blue);
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;
    margin-bottom: 3rem;
    padding: 5rem 3rem;
}

.cards-grid__tile {
    background-color: var(--main-blue2);
    max-width: 200px;
    padding: 30px;
}

.add-tile-btn {
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 48px;
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-light-blue);
}
